[program:gotify]
command={{ uberspace_gotify__installation_directory }}/gotify-linux-amd64
directory={{ uberspace_gotify__installation_directory }}/
environment=GOTIFY_SERVER_PORT={{ uberspace_gotify__port }}
